<template>
    <v-container>
        <h1>Редактирование новости</h1>
        <news-form
                :newsId="parseInt(this.$route.params.id)"
        ></news-form>
    </v-container>
</template>

<script>
    import NewsForm from '~/components/NewsForm.vue'
    export default {
        components: {
            NewsForm
        },
    }
</script>
