<template>
    <v-container>
        <news :newsId="parseInt(this.$route.params.id)" @delete="onDelete" full></news>
    </v-container>
</template>

<script>
    import News from '~/components/News.vue'
    export default {
        components: {
            News
        },
        methods: {
            onDelete() {
                this.$snackbar.show('Новость удалена!', 'success');
                this.$router.push('/');
            }
        }
    }
</script>
