<template>
    <v-card class="my-3" width="100%" :to="'/news/' + news.id" hover>
        <template v-if="$fetchState.pending">
            <v-skeleton-loader
                    ref="skeleton"
                    type="article"
                    class="mx-auto"
            ></v-skeleton-loader>
        </template>
        <template v-else-if="$fetchState.error">
            <v-card-title>
                Ошибка!
            </v-card-title>
            <v-card-text>
                {{ $fetchState.error.message.toString() }}
            </v-card-text>
        </template>
        <template v-else>
            <v-card-title>
                {{ news.title }}
            </v-card-title>
            <v-card-subtitle>
                {{ news.datetime | formatDatetime }}
                <client-only>
                    <nuxt-link :to="{ path: '/user/' + news.user.id }">{{ news.user.name }}</nuxt-link>
                    <nuxt-link v-if="$security.isOwner(news) || $security.isHasRole($security.roleAdmin)" :to="{ path: '/news/' + news.id + '/edit'}">редактировать</nuxt-link>
                    <nuxt-link v-if="$security.isOwner(news) || $security.isHasRole($security.roleAdmin)" to="" @click.native="deleteNews(news.id)">удалить</nuxt-link>
                </client-only>
            </v-card-subtitle>
            <v-card-text>
                {{ news.anons }}
                {{ full ? news.text : '' }}
            </v-card-text>
        </template>
    </v-card>
</template>

<script>
    export default {
        name: "News",
        props: {
            newsId: {
                type: Number,
                required: true
            },
            newsData: {
                type: Object,
                required: false
            },
            full: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            news: {}
        }),
        async fetch() {
            if (typeof (this.newsData) != 'undefined') {
                this.news = this.newsData;
            } else {
                this.news = await this.$axios.$get('/news/' + this.newsId).then(response => response.data);
            }
        },
        methods: {
            deleteNews(id) {
                this.$axios.$delete('/news/' + id).then(() => {
                    this.$emit('delete', this.newsData);
                });
            },
        }
    }
</script>

<style scoped>

</style>