<template>
    <v-form v-model="valid" ref="form">
        <template v-if="$fetchState.pending">
            <v-skeleton-loader
                    ref="skeleton"
                    type="heading"
                    class="mb-6"
            ></v-skeleton-loader>
            <v-skeleton-loader
                    ref="skeleton"
                    type="text"
                    class="mb-6"
            ></v-skeleton-loader>
            <v-skeleton-loader
                    ref="skeleton"
                    type="heading"
                    class="mb-6"
            ></v-skeleton-loader>
            <v-skeleton-loader
                    ref="skeleton"
                    type="paragraph"
                    class="mb-6"
            ></v-skeleton-loader>
            <v-skeleton-loader
                    ref="skeleton"
                    type="heading"
                    class="mb-6"
            ></v-skeleton-loader>
            <v-skeleton-loader
                    ref="skeleton"
                    type="paragraph"
                    class="mb-6"
            ></v-skeleton-loader>
            <v-skeleton-loader
                    ref="skeleton"
                    type="button"
                    class="mb-6"
            ></v-skeleton-loader>
        </template>
        <template v-else-if="$fetchState.error">
            <v-card-title>
                Ошибка!
            </v-card-title>
            <v-card-text>
                {{ $fetchState.error.message.toString() }}
            </v-card-text>
        </template>
        <template v-else>
            <v-container>
                <v-text-field
                        v-model="news.title"
                        :error-messages="titleErrorMessages"
                        :rules="titleRules"
                        label="Заголовок"
                        required
                ></v-text-field>
                <v-textarea
                        v-model="news.anons"
                        :rules="anonsRules"
                        :error-messages="anonsErrorMessages"
                        label="Анонс"
                        required
                ></v-textarea>
                <v-textarea
                        v-model="news.text"
                        :rules="textRules"
                        :error-messages="textErrorMessages"
                        label="Текст"
                        required
                ></v-textarea>
                <v-btn class="mr-4" @click="submit" v-if="typeof this.newsId != 'undefined'">Редактировать новость
                </v-btn>
                <v-btn class="mr-4" @click="submit" v-else>Добавить новость</v-btn>
            </v-container>
        </template>
    </v-form>
</template>

<script>
    export default {
        name: "NewsForm",
        props: {
            newsId: {
                type: Number,
                required: false
            },
            newsData: {
                type: Object,
                required: false
            }
        },
        data: () => ({
            valid: false,
            news: {},
            titleRules: [
                v => !!v || 'Напишите заголовок',
            ],
            anonsRules: [
                v => !!v || 'Напишите анонс',
            ],
            textRules: [
                v => !!v || 'Напишите текст новости',
            ],
            titleErrorMessages: [],
            anonsErrorMessages: [],
            textErrorMessages: [],
        }),
        async fetch() {
            if (typeof this.newsId != 'undefined') {
                if (typeof (this.newsData) != 'undefined') {
                    this.news = this.newsData;
                } else {
                    this.news = await this.$axios.$get('/news/' + this.newsId).then(response => response.data);
                }
            }
        },

        methods: {
            submit() {
                const router = this.$router;
                if (this.$refs.form.validate()) {
                    const data = {
                        title: this.news.title,
                        anons: this.news.anons,
                        text: this.news.text
                    };
                    if (typeof this.newsId !== 'undefined') {
                        this.$axios.$post('/news/' + this.newsId, data)
                            .then(() => {
                                this.showSnackbar('Новость отредактирована!', 'success');
                                router.push('/');
                            })
                            .catch(this.handleErrors);
                    } else {
                        this.$axios.$post('/news', data)
                            .then(() => {
                                this.showSnackbar('Новость добавлена!', 'success');
                                router.push('/');
                            })
                            .catch(this.handleErrors);
                    }
                }
            },
            showSnackbar(message, type) {
                this.$store.commit('snackbar/show', {message, type});
            },
            handleErrors(error) {
                if (typeof (error.response.data.errors.violations) != "undefined") {
                    let errors = error.response.data.errors.violations;
                    errors.forEach(error => {
                        let field = error.propertyPath;
                        let message = error.title;
                        let fieldErrorsMessages = field + "ErrorMessages";
                        this[fieldErrorsMessages] = [message];
                    });
                } else {
                    this.showSnackbar('Ошибка! ' + error.toString(), 'error');
                }

            }
        }
    }
</script>

<style scoped>

</style>