<template>
    <v-container>
        <template v-if="$fetchState.pending">
            <h1>Новости автора</h1>
            <v-card class="my-3" width="100%" hover>
                <v-skeleton-loader
                        ref="skeleton"
                        type="article"
                        class="mx-auto"
                ></v-skeleton-loader>
            </v-card>
        </template>
        <template v-else-if="$fetchState.error">
            <h1>
                {{ $fetchState.error.message }}
            </h1>
        </template>
        <template v-else>
        <h1>Новости автора {{ user.name }}</h1>
            <news v-for="news in news" :key="news.id" :newsId="news.id" :newsData="news" @delete="onDelete"></news>
        </template>
    </v-container>
</template>

<script>
    import News from '~/components/News.vue'
    export default {
        components: {
            News
        },
        data() {
            return {
                user: {},
                news: []
            }
        },
        async fetch() {
            this.user = await this.$axios.$get('/user/' + this.$route.params.id).then(response => response.data);
            this.news = await this.$axios.$get('/news/?user=' + this.$route.params.id).then(response => response.data);
        },
        methods: {
            onDelete() {
                this.showSnackbar('Новость удалена!', 'success');
                this.$fetch();
            },
            showSnackbar(message, type) {
                this.$store.commit('snackbar/show', {message, type});
            }
        }
    }
</script>
