<template>
    <v-container>
        <h1>Логин</h1>
        <v-form v-model="valid" ref="form">
            <v-container>
                <v-text-field
                        v-model="login"
                        :rules="loginRules"
                        label="Логин"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="password"
                        :rules="passwordRules"
                        label="Пароль"
                        type="password"
                        required
                ></v-text-field>
                <v-btn class="mr-4" @click="submit">Отправить</v-btn>
            </v-container>
        </v-form>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            valid: false,
            login: '',
            password: '',
            loginRules: [
                v => !!v || 'Напишите логин',
            ],
            passwordRules: [
                v => !!v || 'Напишите пароль',
            ],
        }),
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    const data = {
                        login: this.login,
                        password: this.password
                    };
                    this.$axios.$post('/user/login', data)
                        .then(response => {
                            this.$security.login(response.data);
                            this.showSnackbar('Авторизация прошла успешно!', 'success');
                            this.$router.push('/');
                        })
                        .catch(error => {
                            const message = (
                                error.hasOwnProperty('response')
                                && error.response.hasOwnProperty('data')
                                && error.response.data.hasOwnProperty('message')
                            ) ? error.response.data.message : error.toString();

                            this.showSnackbar('Ошибка! ' + message, 'error');
                        });
                }
            },
            showSnackbar(message, type) {
                this.$store.commit('snackbar/show', {message, type});
            }
        }
    }
</script>
