<template>
    <v-container>
        <h1>Регистрация</h1>
        <v-form v-model="valid" ref="form">
            <v-container>
                <v-text-field
                        v-model="name"
                        :error-messages="nameErrorMessages"
                        :rules="nameRules"
                        label="Имя"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="login"
                        :error-messages="loginErrorMessages"
                        :rules="loginRules"
                        label="Логин"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="password"
                        :error-messages="passwordErrorMessages"
                        :rules="passwordRules"
                        label="Пароль"
                        type="password"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="passwordConfirm"
                        :error-messages="passwordConfirmErrorMessages"
                        :rules="[passwordConfirmationRule]"
                        label="Повторите пароль"
                        type="password"
                        required
                ></v-text-field>
                <v-text-field
                        v-model="email"
                        :error-messages="emailErrorMessages"
                        :rules="emailRules"
                        label="Email"
                        required
                ></v-text-field>
                <v-btn class="mr-4" @click="submit">Отправить</v-btn>
            </v-container>
        </v-form>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            valid: false,
            name: '',
            login: '',
            password: '',
            passwordConfirm: '',
            email: '',
            nameRules: [
                v => !!v || 'Напишите имя',
            ],
            loginRules: [
                v => !!v || 'Напишите логин',
            ],
            passwordRules: [
                v => !!v || 'Напишите пароль',
            ],
            emailRules: [
                v => !!v || 'Напишите email',
            ],
            nameErrorMessages: [],
            loginErrorMessages: [],
            passwordErrorMessages: [],
            passwordConfirmErrorMessages: [],
            emailErrorMessages: []
        }),
        computed: {
            passwordConfirmationRule() {
                return () => (this.password === this.passwordConfirm) || 'Пароли должны совпадать'
            },
        },
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    const data = {
                        name: this.name,
                        login: this.login,
                        password: this.password,
                        email: this.email
                    };
                    this.$axios.$post('/user', data)
                        .then(() => {
                            this.showSnackbar('Регистрация прошла успешно!', 'success');
                            this.$router.push('/');
                        })
                        .catch(error => {
                            if (typeof (error.response.data.errors.violations) != "undefined") {
                                let errors = error.response.data.errors.violations;
                                errors.forEach(error => {
                                    let field = error.propertyPath;
                                    let message = error.title;
                                    let fieldErrorsMessages = field + "ErrorMessages";
                                    this[fieldErrorsMessages] = [message];
                                });
                            } else {
                                this.showSnackbar('Ошибка! ' + error.toString(), 'error');
                            }
                        });
                }
            },
            showSnackbar(message, type) {
                this.$store.commit('snackbar/show', {message, type});
            }
        }
    }
</script>
