<template>
    <v-container>
        <h1>Добавить новость</h1>
        <news-form></news-form>
    </v-container>
</template>

<script>
    import NewsForm from '~/components/NewsForm.vue'
    export default {
        components: {
            NewsForm
        },
    }
</script>
