<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app
        >
            <v-list v-for="item in items" v-if="item.show" :key="item.title" dense>
                <v-list-item link :to="item.path" @click="item.onclick($event)" exact>
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                color="indigo"
                dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
            <v-toolbar-title>Супер-новости</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn text v-if="$security.isLoggedIn()" class="text-none">
                {{ $security.getUser().name }}
            </v-btn>
        </v-app-bar>
        <v-content>
            <v-snackbar
                    :value="snackbar.show"
                    :timeout="0"
                    :color="snackbar.type"
                    bottom
                    show
                    multi-line
            >
                {{ snackbar.message }}
                <v-btn
                        icon color="white"
                        @click="$snackbar.hide()"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-snackbar>
            <v-container class="" fluid>
                <nuxt/>
            </v-container>
        </v-content>
        <v-footer
                color="indigo"
                app
        >
            <span class="white--text">&copy; 2020</span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        props: {
            source: String,
        },
        computed: {
            snackbar() {
                return this.$store.state.snackbar;
            },
            items() {
                return [
                    {
                        icon: 'mdi-home',
                        title: 'Новости',
                        path: '/',
                        items: [],
                        show: true,
                        onclick: (event) => {
                        }
                    },
                    {
                        icon: 'mdi-pen',
                        title: 'Добавить новость',
                        path: '/news/add',
                        items: [],
                        show: this.$security.isLoggedIn(),
                        onclick: (event) => {
                        }
                    },
                    {
                        icon: 'mdi-account-plus',
                        title: 'Регистрация',
                        path: '/user/register',
                        items: [],
                        show: !this.$security.isLoggedIn(),
                        onclick: (event) => {
                        }
                    },
                    {
                        icon: 'mdi-login',
                        title: 'Авторизация',
                        path: '/user/login',
                        items: [],
                        show: !this.$security.isLoggedIn(),
                        onclick: (event) => {
                        }
                    },
                    {
                        icon: 'mdi-logout',
                        title: 'Выход',
                        path: '',
                        items: [],
                        show: this.$security.isLoggedIn(),
                        onclick: (event) => {
                            event.preventDefault();
                            this.$security.logout();
                        }
                    },
                ]
            }
        },
        data: () => ({
            drawer: true,
            clipped: false
        })
    }
</script>
