<template>
    <v-container>
        <h1>Новости</h1>
        <template v-if="$fetchState.pending">
            <v-card class="my-3" width="100%" hover>
                <v-skeleton-loader
                        ref="skeleton"
                        type="article"
                        class="mx-auto"
                ></v-skeleton-loader>
            </v-card>
        </template>
        <template v-else-if="$fetchState.error">
            <v-card-title>
                Ошибка!
            </v-card-title>
            <v-card-text>
                {{ $fetchState.error.toString() }}
            </v-card-text>
        </template>
        <template v-else>
            <news v-for="news in news" :key="news.id" :newsId="news.id" :newsData="news" @delete="onDelete"></news>
        </template>
    </v-container>
</template>

<script>
    import News from '~/components/News.vue'
    export default {
        components: {
            News
        },
        data: () => ({
            news: []
        }),
        async fetch() {
            this.news = await this.$axios.$get('/news').then(response => response.data);
        },
        methods: {
            onDelete() {
                this.showSnackbar('Новость удалена!', 'success');
                this.$fetch();
            },
            showSnackbar(message, type) {
                this.$store.commit('snackbar/show', {message, type});
            }
        }
    }
</script>
